
<!-- <app-breadcomb></app-breadcomb> -->


<div id="main-wrapper">

    <app-navbar></app-navbar>

    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Bread crumb -->
            <!-- <app-breadcrumbs></app-breadcrumbs> -->

            <!-- Mi sistema de rutas -->
            <!-- <router-outlet></router-outlet> -->

            <app-home></app-home>
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                
                            
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->

        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2020 Admin Pro by wrappixel.com
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

</div>