<div class="login-content">
        <!-- Register -->
        <div class="nk-block toggled">
            <div class="nk-form">
                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" placeholder="Usuario">
                    </div>
                </div>

                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        <input type="text" class="form-control" placeholder="Correo">
                    </div>
                </div>

                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                    <div class="nk-int-st">
                        <input type="password" class="form-control" placeholder="contraseña">
                    </div>
                </div>
                <div class="input-group mg-t-15">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                    <div class="nk-int-st">
                        <input type="password" class="form-control" placeholder="Repita contraseña">
                    </div>
                </div>

                <!-- <a href="#l-login" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="btn btn-login btn-success btn-float"><i class="notika-icon notika-right-arrow"></i></a> -->
            </div>

            <div class="nk-navigation rg-ic-stl">
                <div class="col-xs-6 text-right">
                    <button class="btn btn-success notika-btn-success waves-effect">Registrarme</button>
                </div>
                <div class="col-xs-6 text-left">
                    <button (click)="navegar()" class="btn btn-success notika-btn-success waves-effect">Ya tengo cuenta</button>
                </div>
            </div>
        </div>
</div>