<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="row">
                <div class="col-md-3 col-xs-6 b-r"> <strong>Full Name</strong>
                    <br>
                    <p class="text-muted">Johnathan Deo</p>
                </div>
                <div class="col-md-3 col-xs-6 b-r"> <strong>Mobile</strong>
                    <br>
                    <p class="text-muted">(123) 456 7890</p>
                </div>
                <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
                    <br>
                    <p class="text-muted">johnathan@admin.com</p>
                </div>
                <div class="col-md-3 col-xs-6"> <strong>Location</strong>
                    <br>
                    <p class="text-muted">London</p>
                </div>
            </div>
        </div>
    </div>
</div>     
            
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- Contenido principal-->
            <div class="contact-page-aside">
                <!-- Categorias-->
                <div class="left-aside bg-light-part">
                    <ul class="list-style-none">
                        <li class="box-label"><a href="javascript:void(0)">Categorias <span>4</span></a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Trabajo
                            <span class="action-icons">
                                <a href="javascript:void(0)"><i class="ti-pencil-alt"></i></a>
                            </span>
                        </a></li>
                        <li><a href="javascript:void(0)">Personal <span>19</span></a></li>
                        <li><a href="javascript:void(0)">Friends <span>623</span></a></li>
                        <li><a href="javascript:void(0)">Private <span>53</span></a></li>
                    </ul>
                    <div class="input-group">
                        <input type="text" id="demo-input-search2" placeholder="Nueva categoria" class="form-control mr-0">
                        <span class="input-group-btn">
                            <button class="btn waves-effect waves-light btn-success" type="button">
                                <i class="ti-plus text"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <!-- Tareas-->
                <div class="right-aside ">
                    <div class="right-page-header">
                        <div class="d-flex">
                            <div class="align-self-center">
                                <h4 class="card-title m-t-10">Tareas de Trabajo </h4>
                            </div>
                            <div class="ml-auto">
                                <button class="btn btn-outline-secondary">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Tabs de todos -->
                    <div class="table-responsive">
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Todos</a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Pendientes</a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Terminados</a> </li>
                                <div class="ml-auto mr-4">
                                    <input type="text" id="demo-input-search2" placeholder="Nueva tarea" class="form-control">
                                </div>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    <div class="card-body">
                                        
                                        <!-- ============================================================== -->
                                        <!-- Todos-->
                                        <!-- ============================================================== -->
                                        <div class="to-do-widget">

                                            <ul class="list-task todo-list list-group m-b-0" data-role="tasklist">
                                                <li class="list-group-item" data-role="task">
                                                    <div class="checkbox checkbox-info m-b-10">
                                                        <input type="checkbox" id="inputSchedule" name="inputCheckboxesSchedule">
                                                        <label for="inputSchedule" class="">
                                                            <span>App del Despertar</span>
                                                            <span class="label label-rounded label-danger pull-right">Today</span>
                                                        </label>
                                                    </div>
                                                    <div class="item-date"> 26 jun 2017</div>
                                                </li>
                                                <li class="list-group-item" data-role="task">
                                                    <div class="checkbox checkbox-info">
                                                        <input type="checkbox" id="inputBook" name="inputCheckboxesBook">
                                                        <label for="inputBook" class=""> 
                                                            <span>legado de Guerrero</span>
                                                            <span class="label label-primary label-rounded pull-right">1 week </span> 
                                                        </label>
                                                    </div>
                                                    <div class="item-date"> 26 jun 2017</div>
                                                </li>
                                                <li class="list-group-item" data-role="task">
                                                    <div class="checkbox checkbox-info">
                                                        <input type="checkbox" id="inputCall" name="inputCheckboxesCall">
                                                        <label for="inputCall" class=""> 
                                                            <span>Give Purchase report</span> 
                                                            <span class="label label-info label-rounded pull-right">Yesterday</span> 
                                                        </label>
                                                    </div>
                                                    <div class="item-date"> 26 jun 2017</div>
                                                </li>
                                                <li class="list-group-item" data-role="task">
                                                    <div class="checkbox checkbox-info">
                                                        <input type="checkbox" id="inputForward" name="inputCheckboxesForward">
                                                        <label for="inputForward" class=""> 
                                                            <span>Portafolio</span> 
                                                            <span class="label label-warning label-rounded pull-right">2 weeks</span> 
                                                        </label>
                                                    </div>
                                                    <div class="item-date"> 26 jun 2017</div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <!--second tab-->
                                <div class="tab-pane" id="profile" role="tabpanel">
                                    <div class="card-body">
                                        <!-- ============================================================== -->
                                        <!-- Todos-->
                                        <!-- ============================================================== -->
                                        <div class="to-do-widget">
                                            <ul class="list-task todo-list list-group m-b-0" data-role="tasklist">
                                                <li class="list-group-item" data-role="task">
                                                    <div class="checkbox checkbox-info m-b-10">
                                                        <input type="checkbox" id="app-01" name="inputCheckboxesSchedule">
                                                        <label for="app-01" class=""> <span>App del Despertar</span> <span class="label label-rounded label-danger pull-right">Today</span></label>
                                                    </div>
                                                    <div class="item-date"> 26 jun 2017</div>
                                                </li>
                                                <li class="list-group-item" data-role="task">
                                                    <div class="checkbox checkbox-info">
                                                        <input type="checkbox" id="app-02" name="inputCheckboxesBook">
                                                        <label for="app-02" class=""> <span>App Legado de Tlapa</span><span class="label label-primary label-rounded pull-right">1 week </span> </label>
                                                    </div>
                                                    <div class="item-date"> 26 jun 2017</div>
                                                </li>
                                                <li class="list-group-item" data-role="task">
                                                    <div class="checkbox checkbox-info">
                                                        <input type="checkbox" id="app-03" name="inputCheckboxesCall">
                                                        <label for="app-03" class=""> <span>Sitio Legado de Guerrero</span> <span class="label label-info label-rounded pull-right">Yesterday</span> </label>
                                                    </div>
                                                    <div class="item-date"> 26 jun 2017</div>
                                                </li>
                                                <li class="list-group-item" data-role="task">
                                                    <div class="checkbox checkbox-info">
                                                        <input type="checkbox" id="app-04" name="inputCheckboxesForward">
                                                        <label for="app-04" class=""> 
                                                            <span>Portafolio</span> 
                                                            <span class="label label-warning label-rounded pull-right">2 weeks</span> </label>
                                                    </div>
                                                    <div class="item-date"> 26 jun 2017</div>
                                                </li>
                                            </ul>
                                        </div>

                                        
                                    </div>
                                </div>
                                <div class="tab-pane" id="settings" role="tabpanel">
                                    <div class="card-body">
                                        <!-- ============================================================== -->
                                        <!-- Todos-->
                                        <!-- ============================================================== -->
                                        <div class="to-do-widget">
                                            <ul class="list-task todo-list list-group m-b-0" data-role="tasklist">
                                                <li class="list-group-item" data-role="task">
                                                    <div class="checkbox checkbox-info m-b-10">
                                                        <input type="checkbox" id="tab3-01" name="inputCheckboxesSchedule">
                                                        <label for="tab3-01" class=""> <span>App del Despertar</span> <span class="label label-rounded label-danger pull-right">Today</span></label>
                                                    </div>
                                                    <div class="item-date"> 26 jun 2017</div>
                                                </li>
                                                <li class="list-group-item" data-role="task">
                                                    <div class="checkbox checkbox-info">
                                                        <input type="checkbox" id="tab3-02" name="inputCheckboxesBook">
                                                        <label for="tab3-02" class=""> <span>App Legado de Tlapa</span><span class="label label-primary label-rounded pull-right">1 week </span> </label>
                                                    </div>
                                                    <div class="item-date"> 26 jun 2017</div>
                                                </li>
                                                <li class="list-group-item" data-role="task">
                                                    <div class="checkbox checkbox-info">
                                                        <input type="checkbox" id="tab3-03" name="inputCheckboxesCall">
                                                        <label for="tab3-03" class=""> <span>Sitio Legado de Guerrero</span> <span class="label label-info label-rounded pull-right">Yesterday</span> </label>
                                                    </div>
                                                    <div class="item-date"> 26 jun 2017</div>
                                                </li>
                                                <li class="list-group-item" data-role="task">
                                                    <div class="checkbox checkbox-info">
                                                        <input type="checkbox" id="tab3-04" name="inputCheckboxesForward">
                                                        <label for="tab3-04" class=""> 
                                                            <span>Portafolio</span> 
                                                            <span class="label label-warning label-rounded pull-right">2 weeks</span> </label>
                                                    </div>
                                                    <div class="item-date"> 26 jun 2017</div>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .left-aside-column-->
                </div>
                <!-- /.left-right-aside-column-->
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
