<!-- Inbox area Start-->
<div class="inbox-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="inbox-left-sd">
                    <div class="compose-ml">
                        <h4>Categorias</h4>
                    </div>
                    <div class="inbox-status">
                        <ul class="inbox-st-nav inbox-ft">
                            <li><a href="#"><i class="notika-icon notika-mail"></i> Trabajo<span
                                        class="pull-right">12</span></a></li>
                            <li><a href="#"><i class="notika-icon notika-sent"></i> Personal</a></li>
                            <li><a href="#"><i class="notika-icon notika-draft"></i> Estudios</a></li>
                            <li><a href="#"><i class="notika-icon notika-trash"></i> Trash</a></li>
                        </ul>
                    </div>
                    <br>
                    <div class="form-group todo-flex">
                        <div class="nk-int-st">
                            <input type="text" id="todo-input-text" name="todo-input-text" class="form-control"
                                placeholder="Nueva categoria">
                        </div>
                        <div class="todo-send">
                            <button class="btn-primary btn-md btn-block btn notika-add-todo waves-effect" type="button"
                                id="todo-btn-submit">
                                <i class="notika-icon notika-plus-symbol"></i>
                                <!-- <span> Add</span> -->
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="inbox-text-list sm-res-mg-t-30">
                    <div class="form-group">
                        <div class="nk-int-st search-input search-overt">
                            <input type="text" class="form-control" placeholder="Nueva tarea" />
                            <button class="btn search-ib">
                                <i class="notika-icon notika-plus-symbol"></i>
                                <span> Add</span>
                            </button>
                        </div>
                    </div>
                    <div class="inbox-btn-st-ls btn-toolbar">
                        <div class="btn-group ib-btn-gp active-hook nk-email-inbox">
                            <button class="btn btn-default btn-sm"><i class="notika-icon notika-form"></i>
                                Todos</button>
                            <button class="btn btn-default btn-sm"><i class="notika-icon notika-edit"></i>
                                Pendiantes</button>
                            <button class="btn btn-default btn-sm"><i class="notika-icon notika-success"></i>
                                Completados</button>
                        </div>
                        <div class="btn-group ib-btn-gp active-hook nk-act nk-email-inbox">
                            <button class="btn btn-default btn-sm"><i class="notika-icon notika-trash"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="notika-todo-scrollbar mCustomScrollbar _mCS_2 mCS-autoHide"
                            style="height: 445px; position: relative; overflow: visible;">
                            <div id="mCSB_2" class="mCustomScrollBox mCS-light-1 mCSB_vertical mCSB_outside"
                                tabindex="0" style="max-height: none;">
                                <div id="mCSB_2_container" class="mCSB_container"
                                    style="position: relative; top: 0px; left: 0px;" dir="ltr">
                                    <ul class="list-group no-margn todo-list" id="todo-list">
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-primary">
                                                <input class="todo-done" id="9" type="checkbox" checked="">
                                                <label for="9">Nullam dolor nibh ultricies</label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-primary">
                                                <input class="todo-done" id="8" type="checkbox" checked="">
                                                <label for="8">Nullam dolor nibh ultricies</label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-primary">
                                                <input class="todo-done" id="7" type="checkbox" checked="">
                                                <label for="7">Fivamus sagittis lacus vel</label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-primary">
                                                <input class="todo-done" id="6" type="checkbox" checked="">
                                                <label for="6">Cras mattis consectetur</label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-primary">
                                                <input class="todo-done" id="5" type="checkbox">
                                                <label for="5">Praesent commodo cursus magnavel</label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-primary">
                                                <input class="todo-done" id="4" type="checkbox" checked="">
                                                <label for="4">Integer posuere erat ante</label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-primary">
                                                <input class="todo-done" id="3" type="checkbox" checked="">
                                                <label for="3">Cras mattis consectetur purus</label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-primary">
                                                <input class="todo-done" id="2" type="checkbox" checked="">
                                                <label for="2">Nullam dolor nibh ultricies</label>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="checkbox checkbox-primary">
                                                <input class="todo-done" id="1" type="checkbox">
                                                <label for="1">Fivamus sagittis lacus vel</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inbox area End-->